<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="static/Wordle_Buddy_Lara.png" alt="Wordle Buddy Logo" class="logo">
        <h1>Game Stopped</h1>
        <p>You've chosen to stop the game.</p>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const inputs = document.querySelectorAll(".feedback-inputs input");
                inputs[0].focus();
    
                inputs.forEach((input, index) => {
                    input.addEventListener("input", function() {
                        if (this.value.length === 1 && index < inputs.length - 1) {
                            inputs[index + 1].focus();
                        }
                    });
                });
    
                const newGameButton = document.getElementById("new-game-button");
 
    
                newGameButton.addEventListener("click", function() {
                    form.action = "/solve";
                    form.querySelector("input[name='action']").value = "new_game";
                    form.submit();
                });
            });
        </script>

        <form action="/" method="get">
            <button type="submit">Home</button>
        </form>        

    </div>
</body>
</html>
