<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Solver</title>
    <meta name="description" content="This app generates guesses at each step with the results you provide while enjoying your favorite game: Wordle !!">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const boxes = document.querySelectorAll(".guess-box .feedback");

            boxes.forEach((box, index) => {
                box.addEventListener("click", function() {
                    if (this.classList.contains('gray')) {
                        this.classList.remove('gray');
                        this.classList.add('yellow');
                        updateHiddenInput(index, 'y');
                    } else if (this.classList.contains('yellow')) {
                        this.classList.remove('yellow');
                        this.classList.add('green');
                        updateHiddenInput(index, 'g');
                    } else {
                        this.classList.remove('green');
                        this.classList.add('gray');
                        updateHiddenInput(index, 'b');
                    }
                });
            });

            function updateHiddenInput(index, value) {
                document.getElementById(`feedback${index}`).value = value;
            }

            const form = document.getElementById("feedback-form");
            const changeButton = document.getElementById("change-button");
            const winButton = document.getElementById("win-button");
            const quitButton = document.getElementById("quit-button");
            const newGameButton = document.getElementById("new-game-button");

            changeButton.addEventListener("click", function() {
                form.action = "/solve";
                form.querySelector("input[name='action']").value = "change";
                form.submit();
            });

            winButton.addEventListener("click", function() {
                form.action = "/solve";
                form.querySelector("input[name='action']").value = "win";
                form.submit();
            });

            quitButton.addEventListener("click", function() {
                form.action = "/solve";
                form.querySelector("input[name='action']").value = "quit";
                form.submit();
            });

            newGameButton.addEventListener("click", function() {
                form.action = "/solve";
                form.querySelector("input[name='action']").value = "new_game";
                form.submit();
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='Wordle_Buddy_Lara.png') }}" alt="Wordle Buddy Logo" class="logo">
        <h1>Wordle</h1>
        <h1>Buddy</h1>
        <div class="guess-box">
            <button type="button" id="new-game-button">Start the Game</button>
            <p><strong>MY GUESS:</strong> 
                {% for i in range(5) %}
                    <span class="feedback gray">{{ guess[i].upper() }}</span>
                {% endfor %}
            </p>
            <form id="feedback-form" action="/solve" method="post">
                <label for="feedback">Go ahead and try with Wordle and click the letters to change color</label>
                <div class="feedback-inputs">
                    <input type="hidden" id="feedback0" name="feedback0" value="b" required>
                    <input type="hidden" id="feedback1" name="feedback1" value="b" required>
                    <input type="hidden" id="feedback2" name="feedback2" value="b" required>
                    <input type="hidden" id="feedback3" name="feedback3" value="b" required>
                    <input type="hidden" id="feedback4" name="feedback4" value="b" required>
                </div>
                <input type="hidden" name="guess" value="{{ guess }}">
                <input type="hidden" name="action" value="">
                <input type="submit" value="Submit Feedback">
                <button type="button" id="change-button">Change Guess</button>
                <button type="button" id="win-button">Win</button>
                <button type="button" id="quit-button">Quit</button>
                <label for="feedback">TIP: Change Guess for duplicated words. (added, sweep, alloy..etc)</label>
            </form>
        </div>
        {% if history %}
            <div class="history">
                <h2>Previous Guesses</h2>
                <ul>
                    {% for g, f in history %}
                        <li>
                            {% for i in range(5) %}
                                <span class="feedback {{ 'green' if f[i].lower() == 'g' else 'yellow' if f[i].lower() == 'y' else 'gray' }}">{{ g[i].upper() }}</span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</body>
</html>
